@import url('../cssAnimations/animations.css');

.candle {
    width: 27vw;
    height: 50vh;
    background-image: url("../../images/candle.png");
    background-size: 100% 100%;
    position: absolute;
    box-shadow: none;
    background-color: transparent;
    top: 2vh;
    left: 10vw;
    z-index: 3;
    animation: flicker .15s infinite;
    pointer-events: none;
  }
