@import url('../cssAnimations/animations.css');


  .journal {
    position: absolute;
    display: block;
    top: 23vh;
    right: 0vw;
    background-image: url("/images/redleatherjournal.png");
    background-size: 100% 100%;
    width: 18vw;
    height: 50vh;
    z-index: 1;
    transform: rotate(-7deg);
    animation: shiny-flicker .15s infinite;
  }
  .journalShadow {
    display: block;
    content: "";
    position: absolute;
    top: 25vh;
    right: -2vw;
    width: 18vw;
    height: 50vh;
    transform: rotate(-7deg);
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.847);
    box-shadow: 
        0 0 15px rgb(0, 0, 0),
        0 0 15px rgb(0, 0, 0),
        0 0 15px rgb(0, 0, 0);
    animation: item-flicker .15s infinite alternate;
    pointer-events: none;
    transition: box-shadow 0.5s ease;
    z-index: 1;
  }
  