
.receivePage {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-image: url("../../images/old-paper.jpg");
  background-size: 100% 100%;
  text-align: center;
  align-items: center;
  color: rgba(72, 52, 37, 0.686);
  animation: face-flicker .15s infinite;
}
.receivePage {
  transform-origin: left center;
  transition:
    transform 2s,
    left 2s;
  z-index: 1;
  border-left: solid 1px rgb(118, 74, 40);
  width: 99%;
  height: 98%;
  margin-top: 5px;
}

.receivePage{
  z-index: -3;
}

.receivePage .tab {
  top: 16.5vh;
}
