@import url("https://fonts.googleapis.com/css?family=Stalemate");
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* Basic styles for the button */
.getUsersButton {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.getUsersButton:hover {
  background-color: #45a049;
}

/* Container for the user list */
.usersContainer {
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

/* Styles for each user element */
.usersContainer div {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#usersContainer div:nth-child(odd) {
  background-color: #efefef;
}

body {
  background-image: url("/images/wooden-table.png");
  background-size: cover;
  background-repeat: repeat;
  height: 100vh;
  margin: 0;
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Stalemate", sans-serif;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.candle {
  background-image: url("/images/candle.png");
  background-size: cover;
  height: 280px;
  position: absolute;
  box-shadow: none;
  background-color: transparent;
  top: 0;
  left: 150px;
  animation: pulsate 1s infinite;
  z-index: 5;
  animation: flicker .15s infinite;
}
@keyframes flicker {
  0% {
    filter: contrast(150%);
  }
  50% {
    filter: contrast(80%);
  }
  100% {
    filter: contrast(150%);
  }
}
.paper {
  background-image: url("/images/desk-top-feather-pen.jpg");
  background-size: cover;
  position: relative;
  width: 450px;
  height: 320px;
  transform: rotate(-35deg);
  z-index: -1;
  overflow: -moz-hidden-unscrollable;
  animation: face-flicker .15s infinite;
}
.paper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.671); /* Initial flicker shadow */
  animation: paper-flicker .15s infinite alternate;
  pointer-events: none; /* Make sure the pseudo-element does not interfere with click events */
}
@keyframes paper-flicker {
  0% {
      opacity: 0.75;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0.75;
  }
}
.book {
  margin-left: 30%;
  position: relative;
  width: 330px;
  height: 200px;
  perspective: 1000px;
}
div {
  position: absolute;
  width: 320px;
  height: 400px;
  text-align: center;
}
.cover::before, .login::before, .register::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.748); /* Initial flicker shadow */
  animation: item-flicker .15s infinite alternate;
  pointer-events: none; /* Make sure the pseudo-element does not interfere with click events */
}
@keyframes item-flicker {
  0% {
      opacity: 0.9;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0.9;
  }
}

.login,
.register {
  display: flex;
  flex-direction: column;
  background-image: url("/images/old-paper.jpg");
  background-size: 100% 100%;
  z-index: 1;
  text-align: center;
  align-items: center;
  color: rgba(72, 52, 37, 0.686);
  animation: face-flicker .15s infinite;
}
.register {
  border-bottom: solid 5px rgb(72, 52, 37);
  border-top: solid 5px rgb(72, 52, 37);
  border-right: solid 5px rgb(72, 52, 37);
  border-left: solid 1px rgb(118, 74, 40);
  border-radius: 0 3px 3px 0;
}
.login {
  transform-origin: left center;
  transition:
    transform 2s,
    left 2s;
  z-index: 1;
  border-left: solid 1px rgb(118, 74, 40);
  width: 315px;
  height: 390px;
  margin-top: 5px;
}
.begin {
  cursor: pointer;
}
.register {
  z-index: 0;
}

.cover {
  transform-origin: left center;
  transition:
    transform 2s,
    left 2s;
  z-index: 2;
  background-image: url("/images/cover.jpg");
  background-size: 100% 100%;
  border-radius: 3px;
  filter: contrast(120%);
  animation: face-flicker .15s infinite;
}
@keyframes face-flicker {
  0% {
    filter: contrast(120%);
  }
  50% {
    filter: contrast(125%);
  }
  100% {
    filter: contrast(120%);
  }
}
.cover h1,
.cover h2,
.cover h3,
.cover p,
.cover h4,
.cover button {
  color: rgba(198, 158, 58, 0.752);
  margin-top: 10px;
  margin-left: 35%;
  margin-right: 25%;
  border-radius: 25px;
}
.cover button {
  font-size: 2rem;
  font-family: inherit;
  background: none;
  border: solid 0.5px rgba(198, 158, 58, 0.595);
  cursor: pointer;
}
.cover button:hover {
  color: #f6f1e698;
}
.cover h2 {
  margin-top: 20px;
  font-size: 2.4rem;
  font-weight: bolder;
}
.cover p {
  font-size: 2rem;
}
.paperMessage {
  font-size: 2.2rem;
  color: rgba(48, 31, 16, 0.675);
  font-weight: bold;
  margin-top: 120px;
  margin-left: 80px;
  width: 100%; /* Ensures the container takes full width */
  text-align: left; /* Centers the text horizontally */
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Hides overflow text */
}

.login h2,
.register h2 {
  font-size: 1.6rem;
  margin-bottom: 0px;
  margin-left: -200px;
}
.login label,
.register label {
  font-weight: bold;
  color: rgba(72, 52, 37, 0.686);
  font-size: 1.2rem;
}
#loginForm input,
#registerForm input {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(72, 52, 37, 0.686);
  outline: none;
  font-family: inherit;
  font-size: 1.4rem;
  margin-top: -10px;
  font-weight: bold;
  color: rgba(72, 52, 37, 0.686);
  text-align: center;
}
#loginForm,
#registerForm {
  width: 70%;
  margin-top: -40px;
}
#loginForm button,
#registerForm button {
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.3rem;
  font-family: inherit;
  background: none;
  border: solid 1px rgba(72, 52, 37, 0.686);
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: -10px;
  font-weight: bold;
  text-decoration: underline;
  color: rgba(72, 52, 37, 0.686);
}
.small {
  font-size: 1.3rem;
  font-weight: bold;
}
.goRegister {
  margin-top: -10px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgba(72, 52, 37, 0.686);
}
.smallbutton,
.backbutton {
  cursor: pointer;
  font-size: 1.3rem;
  border: none;
  background: none;
  font-family: inherit;
  font-weight: bold;
  text-decoration: underline;
  color: rgba(72, 52, 37, 0.686);
}
#loginForm button.loginBtn:hover,
button#registerButton:hover {
  color: limegreen;
  text-decoration: none;
}
.smallbutton:hover,
.backbutton:hover {
  text-decoration: none;
  color: #7f5908;
}

@keyframes writeEffect {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
#welcomeText {
  font-size: 5rem;
  margin: 5px;
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  animation: writeEffect 4s cubic-bezier(0, 0, 0.58, 1) forwards;
  color: rgba(48, 31, 16, 0.675);
}
header {
  width: 300px;
  background-image: url("/images/desk-top-feather-pen.jpg");
  rotate: 10deg;
  background-position: left bottom;
  background-size: 160% 170%;
  animation: face-flicker .15s infinite;
}
header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.862); /* Initial flicker shadow */
  animation: paper-flicker  .15s infinite alternate;
  pointer-events: none; /* Make sure the pseudo-element does not interfere with click events */
}

p.userNotFound {
  font-size: 3rem;
  font-weight: 900;
  padding: 5rem 3rem;
  color: #180d04ac;
  text-align: center;
  animation: writeEffect 3s cubic-bezier(0, 0, 0.58, 1) forwards;
}

/* Styles for small screens */
@media only screen and (max-width: 600px) {
  .book {
    margin-left: 90px;
    margin-top: 100px;
  }
  header {
    margin-left: 150px;
  }
  .paper {
    top: 27%;
    right: -21%;
  }
  #cover,
  #login,
  #register {
    position: absolute;
    top: -38%;
  }
  p.userNotFound {
    font-size: 2.7rem;
    font-weight: 900;
    padding: 5.5rem 3rem;
    text-align: center;
    color: #180d04ac;
    animation: writeEffect 3s cubic-bezier(0, 0, 0.58, 1) forwards;
  }
}
@media only screen and (max-width: 1072px) {
  .candle {
    left: 0;
  }
  .paper {
    position: absolute;
    margin-top: 380px;
    margin-left: 350px;
  }

  p.userNotFound {
    font-size: 2.3rem;
    font-weight: 900;
    text-align: center;
    padding: 6rem 3rem;
    color: #180d04ac;
    animation: writeEffect 3s cubic-bezier(0, 0, 0.58, 1) forwards;
  }
}
