.App {
  text-align: center;
}

.App-logo {
  position: relative;
  z-index: 1;
  height: 200px;
  pointer-events: none;
  margin-top: -150px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.flashy-word {
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
  margin: 20px;
  padding: 10px;
  font-size: 2em;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.addTask {
  margin-top: -30px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

