@import url("https://fonts.googleapis.com/css?family=Stalemate");
@import url('headerStyles/header.css');
@import url('mainStyles/main.css');
@import url('bookStyles/book.css');
@import url('cssAnimations/animations.css');

.no-shadow::before {
  box-shadow: none !important;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  background-image: url("/images/wooden-table.png");
  background-size: cover;
  background-repeat: repeat;
  height: 100vh;
  margin: 0;
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Stalemate", sans-serif;
  overflow: hidden;
}

/* Styles for small screens */
@media only screen and (max-width: 600px) {
  .quotes {
    top: 110px;
    left: 0%;
    width:100%;
    height: 120px;
    transform: rotate(0deg);
  }
  .quotes p {
   font-size: 1.5rem;
  }
  .book {
    position: relative;
    top: 390px;
    left: 0vw;
    z-index: 2;
    /* rotate: 270deg; */
  }
  header {
    right: -5px;
  }
  .paper {
    position: relative;
    top: 25vh;
    right: 0vh;
    rotate: 15deg;
  }
  #cover,
  #login,
  #register,
  #userPage {
    position: absolute;
    top: -38%;
  }
  p.userNotFound {
    font-size: 2.7rem;
    font-weight: 900;
    padding: 5.5rem 3rem;
    text-align: center;
    color: #180d04ac;
  }
}
@media only screen and (max-width: 1072px) {
  .candle {
    left: 0;
  }
  .paper {
    position: absolute;
    margin-top: 420px;
    margin-left: 350px;
  }

  p.userNotFound {
    font-size: 2.3rem;
    font-weight: 900;
    text-align: center;
    padding: 6rem 3rem;
    color: #180d04ac;
  }
}
